.ui.header {
  width: 200px;
  padding: 40px 0 10px 0;
}

/* Truncating longer names */
.ui.card > .content > .header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .ui.header {
    text-align: center;
  }
}
